body{
	font-family: :"Georgia", serif;
	margin: 0;
	background-color: lightcyan;
}
nav{
	background-color: grey;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}
nav ul{
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 18px;
}
nav a:link{
	color: orange;
}
nav a:visited{
	color: blue;
}
nav a:hover{
	color: green;
}
nav a:active{
	color: red;
}

@media only screen and (max-width: 1824px)
{h1{
	font-size:2en;
}
}

@media only screen and (max-width:  768px){
	h1{
		font-size: 1.5en;
	}
}
h1{
	text-align:center;
}
main{
	max-width: 1000px;
	margin: 20px auto;
}
footer{
	text-align: center;
	border-top: 1px solid blue;
	padding: 10px;
	clear: both;
}
td, th{
	border: 1px solid purple;
	padding: 10px;

}
table{
	border-collapse: collapse;
	background-color: orange;
	margin: 0 auto;
	max-width: 1000;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;
}
input{
	margin-bottom: 1em;
	display: block;
}
textarea{
	margin-bottom: 1em;
	display: block;
}
input[type=submit]{
	display: block;
	background-color: yellow;
}
form{
	margin: 0 auto;
	border: 1px solid blue;
	background-color: green;
	max-width: 420px;
	padding: 5px;
}
.myface{
	float: left;
	max-width: 170%;
	

}
canvas{
	background-image: url(images/stormy.jpg);
	margin: 0 auto;
	display: block;
}
header img{
	margin:0 auto;
	display: block;
}
